<!DOCTYPE html>
<html lang='ru' xmlns:th='http://www.thymeleaf.org'>
<head>
    <meta charset='UTF-8'>
    <title>Вход</title>
</head>
<body>
<h2>Вход в систему</h2>

<form th:action='@{/login}' method='post'>
    <label for='username'>Имя пользователя:
        <input id='username' type='text' name='username' required>
    </label>

    <label for='password'>Пароль:
        <input id='password' type='password' name='password' required>
    </label>

    <button type='submit'>Войти</button>
</form>
</body>
</html>